<template>
    <div>
        <div id="news-feed">
            <template v-if="posts.length > 0" v-for="(post, index) in filteredPosts">
                <div v-if="index % 4 === 0 && index > 0">
                    <InFeedAdsense
                            data-ad-layout-key="-6k+cw+5p-1i-7b"
                            data-ad-client="ca-pub-1593486525661699"
                            data-ad-slot="1982010133"
                            root-class="adsbygoogle"
                    ></InFeedAdsense>
                </div>
                <sponsor-image :key="post.id" :sponsor="giveMeMySponsor(post.section_id)" :note="post"></sponsor-image>
            </template>
            <div v-else>
                <div class="grey-text text-lighten-1 center-align">
                    <i class="material-icons" style="font-size: 200px">sentiment_satisfied</i>
                </div>
                <p class="flow-text center-align grey-text text-lighten-1">
                    Estamos calentando, el partido comezara pronto.
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import SponsorImage from './Home/SponsorImage.vue';
    import {mapState} from 'vuex';

    export default {
        name: "feed",
        components: {
            SponsorImage
        },
        data() {
            return {
                posts: [],
                newPosts: [],
                bottom: false,
                sectionSponsors: [],
                resolvedSponsors: []
            }
        },
        methods: {
            bottomVisible() {
                const scrollY = window.scrollY;
                const visible = document.documentElement.clientHeight;
                const pageHeight = document.documentElement.scrollHeight;
                const bottomOfPage = visible + scrollY >= pageHeight - 500;
                return bottomOfPage || pageHeight < visible;
            },
            getPosts() {
                axios.get('/api/v2/feed')
                    .then(res => {
                        this.newPosts = res.data;
                        this.posts = res.data['data'];
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            seeMorePosts() {
                console.log(this.newPosts.links.next)
                if (this.newPosts.links.next === null) {
                    alert('Has alcanzado todos los posts que tenemos, felicidades!');
                } else {
                    this.fetchMorePosts(this.newPosts.links.next);
                }

            },
            fetchMorePosts(url) {
                axios.get(url)
                    .then(res => {
                        this.newPosts = res.data;
                        this.newPosts.data.forEach(item => {
                           this.posts.push(item);
                        });
                    })
                    .catch(err => {
                        console.log(err);
                    });
            },
            getSectionSponsors() {
                axios.get('/api/v1/sponsorsPerSection')
                    .then(res => {
                        this.sectionSponsors = res.data;
                        this.resolveSponsor();
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
            resolveSponsor() {
                let sponsorable = []
                Object.values(this.sectionSponsors).forEach(section => {
                    sponsorable.push({id: section.section_id, media: section.matches.media, url: section.matches.link })
                })
                this.resolvedSponsors = sponsorable
            },
            giveMeMySponsor(sponsor) {
                let vSponsor = this.resolvedSponsors.filter(sp => {
                    return sp.id === Number(sponsor)
                })
                return vSponsor[0]
            }
        },
        mounted() {
            this.getPosts();
            this.getSectionSponsors();
        },
        watch: {
            bottom(bottom) {
                if (bottom) {
                    this.seeMorePosts()
                }
            }
        },
        created() {
            window.addEventListener('scroll', () => {
                this.bottom = this.bottomVisible()
            });
        },
        computed: {
            ...mapState(['reducers']),
            filteredPosts () {
                let posts = this.posts;
                let reducers = this.reducers;

                if (reducers.length === 0) {
                    return posts
                }

                posts = posts.filter((p, i) => {
                    return reducers.includes(parseInt(p.section_id))
                });

                return posts
            }
        }
    }

</script>
