<template>
    <div>
        <games></games>
        <div class="container-fluid banner-advertiser">
            <div class="row">
                <div class="col s12">
                    <ad-bar :advertiser="sponsor.banner" v-if="sponsor.banner"/>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <filters />
                <div class="col s12 m6">
                    <feed />
                </div>
                <stats :sponsor="sponsor"/>
            </div>
        </div>
    </div>
</template>

<script>
    import Games from './Home/Games.vue'
    import { mapState, mapMutations } from 'vuex'
    import axios from 'axios'
    import AdBar from '../components/Home/AdBar.vue'
    import Feed from '../components/Feed.vue'
    import Filters from '../bario/components/Filters.vue'
    import Stats from '../bario/components/Stats.vue'

    export default {
        name: 'Home',
        data () {
            return {
                sponsor: []
            }
        },
        components: {
            Games,
            AdBar,
            Filters,
            Feed,
            Stats
        },
        computed: {
            ...mapState(['sponsors', 'isLoading'])
        },
        methods: {
            getSponsorForSection () {
                axios.get('/api/v2/sponsors?section=Frontpage')
                    .then(res => {
                        this.sponsor = res.data['data']
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
            ...mapMutations(['TOGGLE_LOADING'])
        },
        created () {
            this.getSponsorForSection()
        },
        ready () {
            this.TOGGLE_LOADING()
        }
    }
</script>

<style type="scss" scoped>
    .banner-advertiser {
        margin-top: 3vh;
    }
</style>
