<template>
    <div>
        <button class="btn-floating btn-large waves-effect waves-light black all-page" @click="togglePreview"><i class="material-icons">remove_red_eye</i></button>
        <div class="row">
            <div class="container">
                <div class="col s12 m10 offset-m1 grey lighten-4" v-show="!activePreview">
                    <h4 class="center-align">Redacta tu publicación</h4>
                    <div class="section center">
                        <img :src="imagePreview" alt="Quick preview" height="100"><br>
                        <label for="image">Imagen principal de la publicación</label><br>
                        <input type="file" name="image" id="image" @change="imageProcessing">
                    </div>
                    <div class="input-field">
                        <input type="text" name="caption" id="caption" v-model="post.caption">
                        <label for="caption">Caption de la imagen</label>
                    </div>
                    <div class="input-field">
                        <input type="text" name="title" id="title" v-model="post.title">
                        <label for="title">Titulo de la publicación</label>
                    </div>
                    <div class="input-field">
                        <textarea name="excerpt" id="excerpt" rows="2" class="materialize-textarea" v-model="post.excerpt"></textarea>
                        <label for="excerpt">Extracto del post</label>
                    </div>
                    <trumbowyg v-model="post.body" :config="config"/>
                    <div class="input-field">
                        <textarea name="meta_description" id="meta_description" rows="2" class="materialize-textarea" v-model="post.meta_description"></textarea>
                        <label for="meta_description">Description para meta</label>
                    </div>
                    <div class="input-field">
                        <textarea name="meta_keywords" id="meta_keywords" rows="2" class="materialize-textarea" v-model="post.meta_keywords"></textarea>
                        <label for="meta_keywords">Keywords para google</label>
                    </div>
                    <div class="input-field">
                        <input type="text" name="seo_title" id="seo_title" v-model="post.seo_title">
                        <label for="seo_title">Encabezado SEO</label>
                    </div>
                    <div class="input-field">
                        <a href="#step-2-modal" class="btn btn-full modal-trigger">
                            Continuar
                        </a>
                    </div>
                </div>
                <div class="col s12 m8 offset-m2 hide-on-small-and-down" v-show="activePreview">
                    <div class="card z-depth-0">
                        <div class="card-image">
                            <img :src="imagePreview" class="responsive-img materialboxed">
                        </div>
                        <div class="card-content">
                            <p class="grey-text center-align">
                                {{ post.caption }}
                            </p>
                            <h3 class="justify-align">
                                {{ post.title }}
                            </h3>
                            <br>
                            <div class="article-content--body" v-html="post.body">
                            </div>
                            <br>
                            <p class="flow-text" v-if="post.meta_keywords.length > 3">
                                Hablamos de: <br>
                                <span class="chip" v-for="tag in post.meta_keywords.split(',')" v-if="tag.length > 1">
                                    {{ tag.trim() }}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="step-2-modal" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4>Este es el paso final de tu publicación</h4>
                    <div class="row">
                        <div class="col s12 m6">
                            <p class="flow-text">
                                Visibilidad de tu post
                            </p>
                            <div class="switch">
                                <label>
                                    Draft
                                    <input type="checkbox" v-model="post.status">
                                    <span class="lever"></span>
                                    Publish
                                </label>
                            </div>
                            <p class="flow-text">
                                Categoría
                            </p>
                            <div class="distribute">
                                <p v-for="category in categories">
                                    <input class="with-gap" type="radio" name="category_id" :id="category.id+category.name" v-model="post.category_id" :value="category.id">
                                    <label :for="category.id+category.name" class="cdj-blue-text">{{ category.name }}</label>
                                </p>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <p class="flow-text">
                                Seccion de display
                            </p>
                            <div class="distribute">
                                <p v-for="section in sections">
                                    <input class="with-gap" type="radio" name="section_id" :id="section.id" v-model="post.section_id" :value="section.id">
                                    <label :for="section.id" class="blue-text text-darken-2">{{ section.name }}</label>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer center-align">
                    <button class="btn btn-flat black white-text" @click="createNewArticle">
                        <span v-if="post.status === true">
                            Publicar articulo
                        </span>
                        <span v-else>
                            Guardar borrador
                        </span>
                    </button>
                </div>
            </div>
            <div id="errors-modal" class="modal bottom-sheet">
                <div class="modal-content">
                    <h4>Error de publicación</h4>
                    <p class="justify-align">
                        Encontramos los siguientes errores en tu publicacion:
                    </p>
                    <div class="row">
                        <div class="col s12 m3" v-for="err in errors">
                            <div class="card-panel red white-text">
                                <p class="center-align">
                                    {{ err[0] }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat black white-text">AGREE</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import trumbowyg from 'vue-trumbowyg';
    import axios from 'axios';
    import 'trumbowyg/dist/plugins/upload/trumbowyg.upload';

    $('.article-content--body > img').addClass('responsive-img materialboxed');

    var token = document.head.querySelector('meta[name="csrf-token"]');

    export default {
        name: "engine",
        data() {
            return {
                post: {
                    title: '',
                    excerpt: '',
                    body: '',
                    meta_description: '',
                    meta_keywords: '',
                    seo_title: '',
                    status: 0,
                    image: '',
                    caption: '',
                    section_id: 0,
                    category_id: 0,
                },
                imagePreview: '/storage/default/placeholder.png',
                config: {
                    resetCss: true,
                    semantic: true,
                    removeformatPasted: true,
                    autogrow: true,
                    svgPath: false,
                    imageWidthModalEdit: true,
                    hideButtonTexts: true,
                    plugins: {
                        upload: {
                            serverPath: '/helium/article/bodyContent/image',
                            fileFieldName: 'image',
                            headers: {
                                'X-CSRF-TOKEN': token.content
                            },
                            urlPropertyName: 'url'
                        }
                    },
                    btnsDef: {
                        // Create a new dropdown
                        'image': {
                            dropdown: [
                                'insertImage',
                                'upload'],
                        }
                    },
                    // Redefine the button pane
                    btns: [
                        ['viewHTML'],
                        ['formatting'],
                        ['strong', 'em', 'del'],
                        ['superscript', 'subscript'],
                        ['link'],
                        ['image'], // Our fresh created dropdown
                        ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                        ['unorderedList', 'orderedList'],
                        ['horizontalRule'],
                        ['removeformat'],
                        ['fullscreen']
                    ],
                },
                sections: [],
                categories: [],
                errors: [],
                activePreview: false
            }
        },
        components: {
            trumbowyg
        },
        methods: {
            getFormElements() {
                axios.get('/helium/formal')
                    .then(res => {
                        this.sections = res.data['data'][0].sections;
                        this.categories = res.data['data'][0].categories;
                    })
                    .catch(err => {
                        console.log(err);
                    });
            },
            imageProcessing(event) {

                let input = event.target;

                console.log(input.target);

                if (input.files && input.files[0]) {

                    let reader = new FileReader();
                    let vm = this;

                    console.log(reader);

                    reader.onload = function(e) {
                        vm.imagePreview = e.target.result;
                        vm.post.image = vm.imagePreview;
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            },
            createNewArticle() {
                axios.post('/helium/newArticle', this.post)
                    .then(res => {
                        console.log(res);
                        if (res.data['publised'] === true) {
                            window.location='/helium';
                        }
                    })
                    .catch(err => {
                        console.log(err);
                        if (err.response.data) {
                            this.errors = err.response.data.errors;
                            $('#errors-modal').modal('open');
                        } else {
                            this.errors = err.response;
                            $('#errors-modal').modal('open');
                        }
                    });
            },
            togglePreview() {
                this.activePreview = ! this.activePreview;
            }
        },
        mounted() {
            $('.modal').modal();
            this.getFormElements();
        }
    }
</script>

<style lang="scss" scoped>
    .distribute {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        p {
            min-width: 49%;
        }
    }
</style>