<template>
    <div class="col m3 hidden-on-med-and-down" style="position: sticky; top: 75px;">
        <div class="card grey lighten-4 hide-on-small-and-down">
            <div class="card-content">
                <ul class="tabs tabs-fixed-width tabs-filters-height">
                    <template v-for="(section, index) in sections.presentable">
                        <li class="tab" :key="section.name">
                            <a :href="`#${section.name}-filters`" :class="{ active: index === 0 }" :id="section.name">
                                <img :src="section.media" :alt="section.name" class="team-logo">
                            </a>
                        </li>
                    </template>
                </ul>
                <template v-for="(section, index) in sections.presentable">
                    <div :id="`${section.name}-filters`" :key="section.name">
                        <ul class="collection">
                            <li class="collection-item item-def" v-for="(competition, index) in section.competitions" :key="index * 10">
                                <a href="#!" @click="evaluateFilters(competition.id)" class="chipi">
                                    <img :src="competition.logo"
                                         :alt="competition.name"
                                         class="team-logo">
                                    <span :class="{ 'white-text': reducerIsActive(competition.id), 'cdj-blue': reducerIsActive(competition.id) }">{{ competition.name }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </template>
                <button class="btn-full cdj-blue white-text btn-flat"
                        v-if="reducers.length > 0"
                        @click="cleanFilters">
                    Limpiar filtros
                </button>
            </div>
        </div>
        <div class="divider"></div>

        <Adsense
                data-ad-client="ca-pub-1593486525661699"
                data-ad-slot="1174124337"
                root-class="adsbygoogle"
        ></Adsense>

        <div class="divider"></div>

        <div class="card z-depth-0 center">
            <div class="card-content">
                <span class="card-title grey-text text-lighten-1">
                    <span>
                        Cambio de Juego
                    </span>
                </span>
                <div class="links-list">
                    <span>
                        <a href="http://grupomarotec.com" target="_blank" class="grey-text">Empresa</a> <i class="fa fa-circle grey-text"></i>
                    </span>
                                    <span>
                        <a href="/admin" target="_blank" class="grey-text">Legion CDJ</a> <i class="fa fa-circle grey-text"></i>
                    </span>
                                    <span>
                        <a href="/home" class="grey-text">Mi espacio</a>
                    </span>
                </div>
                <div id="copyright">
                    <div class="container">
                        <p class="grey-text justify-align btn-full">
                            <small>
                                Grupo MAROTEC &copy; 2017 - {{ new Date().getFullYear() }}
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations } from 'vuex'

    export default {
        name: "Filters",
        computed: {
            ...mapState(['sections', 'reducers'])
        },
        methods: {
            ...mapMutations([
                'REMOVE_ALL_FILTERS',
                'ADD_FILTER',
                'REMOVE_FILTER'
            ]),
            evaluateFilters (competition) {
                if (this.reducers.includes(competition)) {
                    this.REMOVE_FILTER(competition)
                } else {
                    this.ADD_FILTER(competition)
                }
            },
            cleanFilters () {
                this.REMOVE_ALL_FILTERS()
            },
            reducerIsActive (competition) {
                return this.reducers.includes(competition)
            }
        }
    }
</script>

<style lang="scss" scoped>
    .chipi {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #000;
    }
</style>
