<template>
    <div class="col m3 hidden-on-med-and-down" style="position: sticky; top: 75px;">
        <ad-bar :advertiser="sponsor.stats" v-if="sponsor.stats" />
        <div v-else>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-format="fluid"
                 data-ad-layout-key="-6t+ed+2i-1n-4w"
                 data-ad-client="ca-pub-1593486525661699"
                 data-ad-slot="4585426740"></ins>
        </div>
        <div class="divider"></div>
        <div class="card league-table--stats" style="position: sticky; top:0;">
            <ul class="tabs tabs-filters-height">
                <template v-for="competition in getLeagues">
                    <li class="tab col s3" :key="competition.acronym">
                        <a :href="`#${competition.acronym}`" :class="{active: competition.acronym === 'MX'}">
                            <img :src="competition.logo"
                                 alt="Logo"
                                 class="team-logo">
                        </a>
                    </li>
                </template>
            </ul>
            <template v-for="competition in getLeagues">
                <div :id="competition.acronym" :key="competition.acronym">
                    <table class="bordered highlight centered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>EQUIPO</th>
                            <th>PTS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="team in competition.board" :key="team.team">
                            <td>{{ team.position }}</td>
                            <td>
                                <img :src="team.logo"
                                     alt="Team Logo"
                                     class="team-logo tooltipped"
                                     data-position="bottom"
                                     :data-tooltip="team.team"
                                >
                            </td>
                            <td>{{ team.points }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    import { mapState, mapGetters } from 'vuex'
    import AdBar from '../../components/Home/AdBar.vue'

    export default {
        name: "Stats",
        components: {
            AdBar
        },
        props: ['sponsor'],
        computed: {
            ...mapState(['competitions']),
            ...mapGetters(['getLeagues'])
        },
        ready () {
            $(document).ready(function(){
                $('.tooltipped').tooltip({delay: 50});
                $('ul.tabs').tabs('select_tab', 'MX');
            });
        }
    }
</script>

<style scoped>
.league-table--stats {
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
</style>