@charset "UTF-8";
// Material custom CDJ

// Colors
@import "~theme-cdj/sass/components/color";

// Variables;
@import "~theme-cdj/sass/components/variables";

// Reset
@import "~theme-cdj/sass/components/normalize";

// components
@import "~theme-cdj/sass/components/global";
@import "~theme-cdj/sass/components/badges";
@import "~theme-cdj/sass/components/icons-material-design";
@import "~theme-cdj/sass/components/grid";
@import "~theme-cdj/sass/components/navbar";
@import "~theme-cdj/sass/components/typography";
@import "~theme-cdj/sass/components/transitions";
@import "~theme-cdj/sass/components/cards";
@import "~theme-cdj/sass/components/toast";
@import "~theme-cdj/sass/components/tabs";
@import "~theme-cdj/sass/components/tooltip";
@import "~theme-cdj/sass/components/buttons";
@import "~theme-cdj/sass/components/dropdown";
@import "~theme-cdj/sass/components/waves";
@import "~theme-cdj/sass/components/modal";
@import "~theme-cdj/sass/components/collapsible";
@import "~theme-cdj/sass/components/chips";
@import "~theme-cdj/sass/components/materialbox";
@import "~theme-cdj/sass/components/forms/forms";
@import "~theme-cdj/sass/components/table_of_contents";
@import "~theme-cdj/sass/components/sideNav";
@import "~theme-cdj/sass/components/preloader";
@import "~theme-cdj/sass/components/slider";
@import "~theme-cdj/sass/components/carousel";
@import "~theme-cdj/sass/components/tapTarget";
@import "~theme-cdj/sass/components/pulse";
@import "~theme-cdj/sass/components/date_picker/default";
@import "~theme-cdj/sass/components/date_picker/default.date";
@import "~theme-cdj/sass/components/date_picker/default.time";

@import url("https://fonts.googleapis.com/css?family=Roboto|Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.9.4/ui/trumbowyg.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.9.4/ui/icons.svg");

body {
  overflow-x: hidden;
}

.nav-fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 0px;
  z-index: 997;
}

.tabs-filters-height {
  .tab {
    padding-top: 10px;
    padding-bottom: 5px;
  }
}

.team-logo {
  max-width: 32px;
  max-height: 32px;
}

.nav-icon {
    font-size: 18px;
}

.login-section {
  min-height: 80vh;
  padding-top: 10vh;
}

.icon-in-title {
  font-size: inherit;
  line-height: inherit;
}

.section-top {
  padding: 5vh 0;
  margin-bottom: 5vh;
}

.justify-align {
  text-align: justify;
}

.section {
  padding: 5vh 0;
}

.game-result--display {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.flex-c {
  flex-direction: column;
  justify-content: center;
}

.article-content--body {
  p, span, h4, h5, h6 {
    text-align: justify;
    font-size: 16px;
    * {
      text-align: justify;
    }
  }
}

.btn-full {
  width: 100%;
}

nav {
  margin-bottom: .3rem;
}

.nav-icon > a > i.fa {
  font-size: 24px;
  padding-bottom: 0;
  max-height: 100%;
  text-align: center;
  color: white;
}

.banner {
  padding: 3vh 0;
  margin-bottom: 2rem;
  .add {
    background: #404040;
    padding: 5vh;
    color: #ffffff;
    text-align: center;
  }
}

.container-fluid {
  margin: 0 auto;
  max-width: 1400px;
}

.cdj-footer {
  padding: 2vh;
}

.links-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  span {
    margin-left: 5px;
    i.fa.fa-circle {
      margin: 0 5px;
    }
  }
}

.copyright {
  border-top: 1px solid rgba(black, .3);
}

.text-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.site-menu-header {
  background-image: url("../images/filters.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  overflow: hidden;
  height: 40vh;
}

.site-filters-header {
  background-image: url("../images/filters.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  overflow: hidden;
  height: 40vh;
}

.social-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  .social {
    line-height: 100%;
  }
}

$facebook: #3b5998;
$twitter: #55acee;
$youtube: #ff0000;
$instagram: #0d1a2b;

.facebook {
  color: $facebook;
}
.twitter {
  color: $twitter;
}
.youtube {
  color: $youtube;
}
.instagram {
  color: $instagram;
}

.perfect-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.league-table--stats {
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

//// Fixing scrollbar styles
//
//::-webkit-scrollbar {
//  background: white;
//}
//
//::-webkit-scrollbar-thumb {
//  background: #1d2432;
//}

::-webkit-scrollbar {
  width: 10px;
  background: white;
}

::-webkit-scrollbar:horizontal {
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(#1d2432,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d2432;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* Handle */
::-webkit-scrollbar-thumb:horizontal {
  background: grey;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #1d2432;
}

// Helium
.helium-header {
  height: 64px;
  background-color: #1d2432;
  margin-bottom: 10vh;
}

.all-page {
  position: fixed;
  top: 91vh;
  right: 3vw;
}

.com-holder {
  margin-bottom: 5px;
  p {
    padding: 5px 0;
  }
  .sidebar-content-disposition {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    border: 2px solid black;
    &:nth-child(even) {
      border-top: none;
    }
  }
}

@import "trumbo_icons_fa";

hr.styled-jump {
  border: 0;
  height: 1px;
  margin: 3vh 0;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.league-post {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 700;
  background-color: rgba(0,0,0,.5);
  min-height: 100%;
  width: 100%;
}

// Class for when element is above threshold
.pin-top {
  position: relative;
}

// Class for when element is below threshold
.pin-bottom {
  position: relative;
}

// Class for when element is pinned
.pinned {
  position: fixed !important;
}