<template>
    <a :href="advertiser.link" target="_blank">
        <img :src="resolveImage(advertiser.media)" alt="Advertiser banner" class="responsive-img">
    </a>
</template>

<script>
    export default {
        name: 'AdBar',
        props: ['advertiser'],
        methods: {
            resolveImage (image) {
                if(image.match(/sponsors/)) {
                    return `storage/${image}`
                }

                return image
            }
        }
    }
</script>
