<template>
  <section class="matches z-depth-1 hide-on-med-and-down" v-if="week.length > 0 || results.length > 0">
    <div class="static">
      <div class="filter">
          <select v-model="activated" class="browser-default" @change="filteredGames">
            <option disabled>Filtros</option>
            <option :value="item.value" v-for="item in myOptions" :key="item.key" @click="activated = this.value">
              {{ item.text }}
            </option>
          </select>
        <div class="options">
          <button @click="showLess" class="btn btn-flat btn-small cdj-blue white-text" v-if="this.gameView.bottomLimit >= 1"><i
                  class="material-icons">chevron_left</i></button>
          <button @click="showMore" class="btn btn-flat btn-small cdj-blue white-text" v-if="this.gameView.upperLimit <= 200 && this.filteredGames.length > this.gameView.upperLimit"><i
                  class="material-icons">chevron_right</i></button>
        </div>
      </div>
      <div class="sponsor">
        <a :href="sponsor.link" target="_blank">
          <img :src="buildLink(sponsor.media)" width="250" alt="Sponsor" class="responsive-img" v-if="sponsor.media">
        </a>
      </div>
    </div>
    <div class="game-slider">
      <match v-for="game in filteredGames.slice(this.gameView.bottomLimit, this.gameView.upperLimit)" :game="game" :key="game.id" />
    </div>
  </section>
</template>

<script>
  import Match from './Match.vue';

export default {
    components: {
        Match,
    },
    data() {
        return {
            activated: 'next',
            week: [],
            results: [],
            chido: [],
            myOptions: [
                { key: 1, value: 'next', text: 'Próximos' },
                { key: 2, value: 'results', text: 'Resultados' }
            ],
            gameView: {
                upperLimit: 8,
                bottomLimit: 0,
                increaser: 8
            },
            sponsor: {}
        }
    },
    methods: {
        getWeekGames() {
              axios.get('/api/v1/match/bar')
                .then(response => {
                   this.week = response.data['data'];
                })
                .catch(err => {
                    console.log(err);
                })
        },
        getResults() {
            axios.get('/api/v1/match/results')
                .then(response => {
                    this.results = response.data['data'];
                })
                .catch(error => {
                    console.log(error);
                });
        },
        showMore() {
            this.gameView.bottomLimit += this.gameView.increaser;
            this.gameView.upperLimit += this.gameView.increaser;
        },
        showLess() {
            this.gameView.bottomLimit -= this.gameView.increaser;
            this.gameView.upperLimit -= this.gameView.increaser;
        },
        getSponsor() {
            axios.get('/api/match/bar/sponsor')
                .then(response => {
                    this.sponsor = response.data
                })
                .catch(err => {
                    console.log(err)
                })
        },
        buildLink(url) {
            return `/storage/${url}`
        }
    },
    mounted() {
        this.getWeekGames();
        this.getResults();
        this.getSponsor();
    },
    computed: {
        filteredGames() {
            let data_array = this.chido;
            let searchString = this.activated;

            if(this.week < 1) {
                searchString = "results"
            }

            if (searchString === "next") {
                data_array = this.week;
            } else {
                data_array = this.results;
                this.activated = searchString
            }

            this.gameView = {
                upperLimit: 8,
                    bottomLimit: 0,
                    increaser: 8
            };

            return data_array;
        }
    }
}
</script>

<style scoped>
  .matches {
    background: #F3F3F3;
    height: 100px;
    max-width: 100%;
    padding: 0 5px;
    display: flex;
    box-sizing: border-box;
  }

  .static {
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
  }

  .game-slider {
    flex-grow: 10;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .filter {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    flex-direction: column;
  }

  .sponsor {
    flex-grow: 2;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .btn-small {
    padding: 1px 6px;
  }
</style>
