<template>
    <div class="game">
        <span class="title">{{ game.gameDate | datum }} | {{ game.gameTime | timum }}</span>
        <div class="teams">
            <div class="team t-pad">
                <img :src="pathForLogo(game.home_team.team_logo)" :alt="game.home_team.shortName" class="team-logo responsive-img tooltipped" data-position="bottom" :data-tooltip="game.home_team.shortName"/>
                <span class="blacked">{{ game.home_team.acronym }}</span>
                <span class="blacked" v-if="game.score !== null">
                    {{ game.score.goals_home_total }}
                </span>
            </div>
            <div class="team">
                <img :src="pathForLogo(game.away_team.team_logo)" :alt="game.away_team.shortName" class="team-logo responsive-img tooltipped" data-position="bottom" :data-tooltip="game.away_team.shortName"/>
                <span class="blacked">{{ game.away_team.acronym }}</span>
                <span class="blacked" v-if="game.score !== null">
                    {{ game.score.goals_away_total }}
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    import * as moment from 'moment';

    moment.locale('es');

    export default {
        props: {
            game: Object,
        },
        filters: {
            datum(date) {
                return moment(date).format('MMM, DD').toLocaleUpperCase().replace('.', '');
            },

            timum(time) {
                return time.replace(':00', '');
            }
        },
        methods: {
            pathForLogo(image) {
                if(image.match('teams')) {
                    return `/storage/${image}`;
                }

                return image;
            }
        },
        mounted() {
            $('.tooltipped').tooltip({delay: 50});
        }
    }
</script>

<style scoped>
    .game {
        box-sizing: border-box;
        padding: 5px 0;
        width: 12.5%;
        height: 100%;
        max-width: 19.5%;
        border-left: 1px solid darkgrey;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .teams {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: 100%;
        max-width: 90%;
        box-sizing: border-box;
    }

    .team {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
    }

    p {
        padding: 5px 0 0 0;
        margin: 0;
    }

    .title {
        font-size: 10px;
        font-weight: bolder;
        text-align: center;
        width:6vw;
        box-sizing: border-box;
    }

    .team-logo {
        max-width: 32px;
    }

    .t-pad {
        margin-bottom: 5px;
    }

    .blacked {
        font-weight: bold;
        line-height: 1;
    }
</style>
