<template>
    <div class="card">
        <div class="card-image">
            <img :src="note.media"
                 :alt=" note.seo_title"
                 class="responsive-img">
        </div>
        <div class="card-content">
                    <span class="card-title cdj-blue-text">
                         {{ note.seo_title }}
                        <span class="grey-text">
                            <small>
                                - {{ note.posted_at }}
                            </small>
                        </span>
                    </span>
            <p>
                {{ note.excerpt }}
            </p>
        </div>
        <div class="card-action post-actions">
            <a :href="sponsor.url" target="_blank">
                <img :src="displayImage(sponsor.media)" width="200" alt="SPONSORED" class="responsive-img">
            </a>
            <a :href="note.path" target="_blank" class="btn btn-flat cdj-blue white-text waves-effect waves-light">
                Leer nota
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SponsorImage",
        props: ['sponsor', 'note'],
        methods: {
            displayImage(image) {
                if (image.match(/sponsors/g)) {
                    return `/storage/${image}`;
                } else {
                    return image;
                }
            },
        }
    }
</script>


<style scoped>
    .post-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
