<template>
    <div>
        <div>
            <p class="flow-text" v-if="name != ''">
                Seleccionaste: {{ name }}
            <span class="right" v-if="selected != ''">
                <button class="btn waves-effect waves-light" @click="saveItem"><i class="material-icons left">send</i>Save</button>
            </span>
            </p>
        </div>
        <ul class="collection hide-on-large-only">
            <a href="#" class="collection-item avatar" @click="selectItem(competition.id, competition.name)" v-for="competition in competitions" v-if="competition.detail.is_cup != '1'">
                <img :src="competition.league_logo" :alt="competition.name" class="circle">
                <span class="title">{{ competition.name }}</span>
            </a>
        </ul>
        <div class="col s12 m3 hide-on-med-and-down" v-for="competition in competitions" v-if="competition.detail.is_cup != '1'">
            <div class="card small z-depth-0">
                <div class="card-content">
                      <div class="containerdiv">
                        <div :id="competition.id" class="cornerdiv">
                        </div>
                        <a href="#!" @click="selectItem(competition.id, competition.name)">
                          <img :src="competition.league_logo" :alt="competition.name" class="responsive-img">
                        </a>
                        <p class="center-align">{{ competition.name }}</p>
                      </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                competitions: [],
                selected: '',
                name: '',
                activeClass: '',
            }
        },
        methods: {
            getCompetitions() {
                axios.get('/api/v1/competitions')
                    .then(response => {
                        this.competitions = response.data['data'];
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            selectItem(item, name) {
              if (this.selected != '') {
                document.getElementById(this.selected).innerHTML = '';
              }
              this.selected = item;
              this.name = name;
              document.getElementById(item).innerHTML = '<i class="small material-icons green-text text-accent-4">check_box</i>';
            },
            saveItem() {
                axios.post('/profile', {
                    item: this.selected,
                    column: 'league_id'
                }).then(response => {
                    console.log(response);
                    this.display = false;
                    this.selected = '';
                    Materialize.toast('Tu liga favorita ha sido guardada!', 2000, 'rounded grey darken-3');
                    document.getElementById('profile-liga').style.display = 'none';
                }).catch(error => {
                    console.log(error);
                    Materialize.toast('Error al guardar, por favor intentalo nuevamente', 2000, 'rounded red darken-4');
                    window.location.reload();
                });
            }
        },
        mounted() {
            this.getCompetitions();
        }
    }
</script>
<style media="screen">
  .containerdiv {
  border: 0;
  float: left;
  position: relative;
  }
  .cornerdiv {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  }
</style>
