<template>
    <div>
        <div>
            <p class="flow-text" v-if="name != ''">
                Seleccionaste: {{ name }}
                <span class="right" v-if="selected != ''">
                <button class="btn waves-effect waves-light" @click="saveItem"><i class="material-icons left">send</i>Save</button>
            </span>
            </p>
        </div>
        <div class="col s12 m2" v-for="team in local">
            <div class="card small z-depth-0">
                <div class="card-content valign-wrapper">
                  <div class="containerdiv">
                    <div :id="team.id" class="cornerdiv">
                    </div>
                    <a href="#!" @click="selectItem(team.id, team.shortName)">
                        <img :src="team.team_logo" :alt="team.shortName" class="responsive-img" height="200">
                    </a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                local: [],
                selected: '',
                name: ''
            }
        },
        methods: {
            getLocalTeams() {
                axios.get('/api/v1/user/local/team')
                    .then(response => {
                        this.local = response.data['data'];
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            selectItem(item, name) {
                if (this.selected != '') {
                  document.getElementById(this.selected).innerHTML = '';
                }
                this.selected = item;
                this.name = name;
                document.getElementById(item).innerHTML = '<i class="small material-icons green-text text-accent-4">check_box</i>';
            },
            saveItem() {
                axios.post('/profile', {
                    item: this.selected,
                    column: 'local_team_id'
                }).then(response => {
                    console.log(response);
                    this.display = false;
                    this.selected = '';
                    Materialize.toast('Tu equipo local favorito ha sido guardado!', 2000, 'rounded green accent-4');
                    document.getElementById('profile-local').style.display = 'none';
                }).catch(error => {
                    console.log(error);
                    Materialize.toast('Error al guardar, por favor intentalo nuevamente', 2000, 'rounded red darken-4');
                    window.location.reload();
                });
            }
        },
        mounted() {
            this.getLocalTeams();
        }
    }
</script>
<style media="screen">
  .containerdiv {
  border: 0;
  float: left;
  position: relative;
  }
  .cornerdiv {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  }
</style>
