<template>
    <div>
        <div>
            <p class="flow-text" v-if="name != ''">
                Seleccionaste: {{ name }}
                <span class="right" v-if="selected != ''">
                <button class="btn waves-effect waves-light" @click="saveItem"><i class="material-icons left">send</i>Save</button>
            </span>
            </p>
        </div>
        <input type="text" v-model="search" placeholder="Bucar equipo UEFA">
        <div v-if="filteredUefa.length > 0">
          <div class="col s12 m2" v-for="team in filteredUefa">
              <div class="card small z-depth-0">
                  <div class="card-content valign-wrapper">
                    <div class="containerdiv">
                      <div :id="team.id" class="cornerdiv">
                      </div>
                      <a href="#!" @click="selectItem(team.id, team.shortName)">
                        <img :src="team.team_logo" :alt="team.shortName" class="responsive-img">
                      </a>
                    </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                uefa: [],
                search: "",
                selected: '',
                name: ''
            }
        },
        methods: {
            getEuropeTeams() {
                axios.get('/api/v1/user/uefa/team')
                    .then(response => {
                        this.uefa = response.data['data'];
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            selectItem(item, name) {
                if (this.selected != '') {
                  document.getElementById(this.selected).innerHTML = '';
                }
                this.selected = item;
                this.name = name;
                document.getElementById(item).innerHTML = '<i class="small material-icons green-text text-accent-4">check_box</i>';
            },
            saveItem() {
                axios.post('/profile', {
                    item: this.selected,
                    column: 'uefa_team_id'
                }).then(response => {
                    console.log(response);
                    this.display = false;
                    this.selected = '';
                    Materialize.toast('Tu equipo de la UEFA favorito ha sido guardado!', 2000, 'rounded green accent-4');
                    document.getElementById('profile-uefa').style.display = 'none';
                }).catch(error => {
                    console.log(error);
                    Materialize.toast('Error al guardar, por favor intentalo nuevamente', 2000, 'rounded red darken-4');
                    window.location.reload();
                });
            }
        },
        mounted() {
            this.getEuropeTeams();
        },

        computed:{
          filteredUefa: function() {
            var data_array = this.uefa,
            searchString= this.search;

            if(!searchString){
                return data_array;
            }

            searchString = searchString.trim().toLowerCase();

            data_array = data_array.filter((team) => {
              return Object.values(team).toString().toLowerCase().includes(searchString);
            });

            // Return an array with the filtered data.
            return data_array;
          }
        }

    }
</script>
<style media="screen">
  .containerdiv {
  border: 0;
  float: left;
  position: relative;
  }
  .cornerdiv {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  }
</style>
