<template>
    <div class="container">
        <h3>Wizar de nueva temporada</h3>
        <div class="divider"></div>
        <div class="row">
            <ul class="tabs tabs-fixed-width" id="newSeasonTabContainer">
                <li class="tab" v-for="step in steps" :class="{disabled : step.competed === false }"><a :href="step.ref">{{ step.name }}</a></li>
            </ul>
            <div id="step-1" class="section">
                <p class="flow-text">Select a competition</p>
                <p v-for="c in competitions">
                    <input type="radio" :id="c.acronym" name="competitions" v-model="activeCompetition" :value="c">
                    <label :for="c.acronym">{{ c.name }}</label>
                </p>
                <div class="divider"></div>
                <p>
                    <input type="checkbox" id="isShortTournament" class="filled-in" value="short" v-model="shortSeason" />
                    <label for="isShortTournament">Es un torneo corto (6 meses)</label>
                </p>
                <br>
                <div class="input-field">
                    <input maxlength="20" type="text" id="season-tagname" placeholder="Ej. Clausura 2018 o 2018-2019" v-model="seasonTagName">
                    <label for="season-tagname">Tag de temporada</label>
                </div>
                <button type="button" class="btn black white-text btn-flat waves-effect waves-light"
                        @click="goToStepTwo"
                        :class="{disabled: activeCompetition === null }">
                    Siguiente
                </button>
            </div>
            <div id="step-2">
                <p class="flow-text justify-align red-text text-darken-2"
                   v-show="missingTeams === 0">
                    Indica los equipos descendidos para la siguiente temporada
                    haciendo click en el boton descendio.
                </p>
                <p class="text-muted">
                    Cuando hayas terminado al final de la pagina encontraras el boton para el siguiente paso.
                </p>
                <div class="row" v-show="teams.length < totalTeams">
                    <p class="flow-text justify-align">
                        Ahora debes agregar {{ missingTeams }} equipo para completar tu liga.
                    </p>
                    <div class="col s12 m4">
                        <div class="input-field">
                            <input type="text" v-model="newTeam.name" id="nameNewTeam" placeholder="Ej. Manchester United F.C.">
                            <label for="nameNewTeam">Nombre del equipo ascendido</label>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="input-field">
                            <input type="text" v-model="newTeam.shortName" id="shortNewTeam" placeholder="Red Devils">
                            <label for="shortNewTeam">Nombre corto</label>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="input-field">
                            <input type="text" v-model="newTeam.acronym" id="acroNewTeam" placeholder="MUFC">
                            <label for="acroNewTeam">Acronimo</label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-flat btn-full black white-text"
                            @click="addTeam">
                        Agregar equipo
                    </button>
                </div>
                <ul class="collection">
                    <li v-for="(team, index) in teams" class="collection-item clearfix">
                        {{ team.name }}
                        <span class="right">
                            <button @click="relegateTeam(index)" class="black white-text">
                                Decendio
                            </button>
                        </span>
                    </li>
                </ul>
                <div class="right">
                    <button type="button" class="btn btn-flat black white-text" @click="goToStepThree">
                        Siguiente
                    </button>
                </div>
            </div>
            <div id="step-3">
                <div class="card">
                    <div class="card-content">
                        <h3 class="red-text center-align">
                            El sistema generara un archivo CSV en el que podras encontrar todos los juegos de esta temporada, cuando hayas terminado puedes cargar ese archivo en el
                            panel de Management
                        </h3>
                        <p class="flow-text">
                            Los primeros 4 campos son informativos, solo debes editar los campos 5 en adelante. A continuacion te mostramos un ejemplo de un registro terminado:
                        </p>
                        <p class="flow-text">
                            America | 9000 | Atlas | 9002 | 2 | 28/07/2018 | 19:00 | 9000 | 9002 | league <br>
                            <small class="red-text">Informativo</small>
                        </p>
                    </div>
                </div>
                <button type="button" class="btn black white-text" @click="populateGameArray">
                    Descargar CSV
                </button>
                <br><br><br><br>
                <div class="divider"></div>
                <button class="btn btn-full black white-text" @click="goToStep4" v-if="missingGames === 0">
                    Siguiente
                </button>
            </div>
            <div id="step-4">
                <div class="section">
                    <div class="card grey lighten-4">
                        <div class="card-content">
                            <span class="card-title">
                                Tu nueva temporada ha sido generada con exito.
                            </span>
                        </div>
                        <div class="card-action">
                            <a href="/helium">
                                Ir a la pantalla principal
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "seasons",
        data() {
            return {
                newTeam: {
                    name: '',
                    acronym: '',
                    shortName: '',
                    active: true,
                },
                competitions: [],
                activeCompetition: null,
                teams: [],
                totalTeams: null,
                createdSeason: {},
                games: [],
                relegation: false,
                steps: [
                    { name: 'Definir temporada', competed: true, ref: '#step-1' },
                    { name: 'Alta equipos', competed: false, ref: '#step-2' },
                    { name: 'Generar jornadas', competed: false, ref: '#step-3' },
                    { name: 'Finalizar', competed: false, ref: '#step-4' },
                ],
                shortSeason: false,
                seasonTagName: ''
            }
        },
        methods: {
            getCompetitions() {
                axios.get('/api/v1/competitions?extended=true')
                    .then(response => {
                        this.competitions = response.data.data;
                    })
                    .catch(err => {
                        console.log(err)
                    });
            },
            refreshCompetition(c) {
                this.activeCompetition = c;
            },
            goToStepTwo() {
                axios.get(`/api/v1/wizards/new_season/teams/${this.activeCompetition.uuid}`)
                    .then(response => {
                        this.teams = response.data;
                        this.totalTeams = response.data.length;
                    })
                    .catch(err => {
                        Materialize.toast('There was an error fetching the teams!');
                        console.log(err);
                    });

                this.steps[0].competed = false;
                this.steps[1].competed = true;

                let y = this.seasonTagName;

                axios.post(`/api/v1/wizards/new_season/${this.activeCompetition.uuid}`, {year: y})
                    .then(response => {
                        if (response.data.success === true) {
                            console.log(response.data.season);
                            this.createdSeason = response.data.season;
                        }
                    })
                    .catch(err => console.log(err));

                $(document).ready(function(){
                    $('ul.tabs').tabs('select_tab', 'step-2');
                });
            },
            relegateTeam(index) {
                this.$delete(this.teams, index);
            },
            addTeam() {
                this.teams.push(this.newTeam);
            },
            goToStepThree() {

                let teams = this.teams;
                let seasonUuid = this.createdSeason.uuid;

                teams.forEach(function (team) {
                    axios.post(`/api/v1/wizards/new_season/teams/${seasonUuid}`, {team: JSON.stringify(team)})
                        .then(response => console.log('Success', response.data))
                        .catch(err => console.log(err))
                });

                this.steps[1].competed = false;
                this.steps[2].competed = true;

                $(document).ready(function(){
                    $('ul.tabs').tabs('select_tab', 'step-3');
                });
            },
            populateGameArray() {
                axios.get(`/api/v1/wizards/new_season/games/${this.createdSeason.uuid}?shortSeason=${this.shortSeason}`)
                    .then(response => {
                        let blob = new Blob([response.data], { type: response.headers.content_type })
                        let link = document.createElement('a')
                        link.href = window.URL.createObjectURL(blob)
                        link.download = this.seasonTagName+'.csv'

                        document.body.appendChild(link);

                        link.click();

                        document.body.removeChild(link);
                    })
                    .catch(err => console.log(err));
            },
            goToStep4() {
                this.steps[2].competed = false;
                this.steps[3].competed = true;
                $(document).ready(function(){
                    $('ul.tabs').tabs('select_tab', 'step-4');
                });
            }
        },
        computed: {
            missingTeams() {
                if (this.teams.length > 0) {
                    return this.totalTeams - this.teams.length;
                }

                return 0;
            },
            missingGames() {
                return this.games.length;
            }
        },
        created() {
            this.competitions = this.getCompetitions();
        }
    }
</script>

<style lang="scss" scoped>
    .match-container {
        display: flex;
        flex-flow: column;
        .match-team {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            .logotipo {
                height: 28px;
                width: auto;
            }
            span {
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
    .divideme {
        height: 2px;
        background: grey;
        border-radius: 20px;
    }
</style>