<template>
    <div style="position: sticky; top: 75px;">
        <product-vertical
                v-for="product in products"
                :product="product"
                :key="product.id">
        </product-vertical>
    </div>
</template>

<script>
    import axios from 'axios';
    import ProductVertical from './ProductVertical';

    export default {
        name: "article-products",
        components: {ProductVertical},
        props: ['items'],
        data() {
            return {
                products: []
            }
        },
        methods: {
            getProducts() {
                axios.get(`/products/list?items=${this.items}`)
                    .then(response => {
                        this.products = response.data.data;
                    })
                    .catch(err => {
                        console.log(err);
                    })
            }
        },
        mounted() {
            this.getProducts();
        }
    }
</script>