<template>
    <div class="card">
        <div class="card-image">
            <img :src="resolveImage(product.image)" alt="Product photo">
        </div>
        <div class="card-content center-align">
            <span class="card-title">
                {{ product.name }}
            </span>
            <p class="chip cdj-blue white-text flow-text">
                {{ product.price | money }}
            </p>
        </div>
        <div class="card-action center-align">
            <a :href="product.url" target="_blank" class="btn black white-text waves-light">
                Ver en la tienda
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "product-vertical",
        props: ['product'],
        methods: {
            resolveImage(image) {
                if(image.match('http')) {
                    return image;
                }

                return `/storage/${image}`;
            }
        },
        filters: {
            money(cents) {
                return '$ ' + cents / 100;
            }
        }
    }
</script>