<template>
    <div class="card horizontal">
        <div class="card-image grey lighten-3">
            <img :src="resolveImage(product.image)" alt="Product photo" class="product-photo">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <span class="card-title">
                    {{ product.name }}
                </span>
                <p class="center-align flow-text">
                    {{ product.price | money }}
                </p>
            </div>
            <div class="card-action right-align">
                <a :href="product.url" target="_blank" class="btn black white-text waves-light">
                   Comprar
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "product-horizontal",
        props: ['product'],
        methods: {
            resolveImage(image) {
                if(image.match('http')) {
                    return image;
                }

                return `/storage/${image}`;
            }
        },
        filters: {
            money(cents) {
                return '$ ' + cents / 100;
            }
        }
    }
</script>

<style scoped>
    .product-photo {
        background-size: 100% auto;
    }
</style>